Gemfile.lock
.bundle/
vendor/
tmp/
bin/

spec/fixtures/modules/

# rvm config files
.ruby-version
.ruby-gemset
.ruby-env
.rvmrc
.versions.conf

# puppetlabs-strings ignores:
doc/
.yardoc/
.yardwarns
.idea

# intellij
atlassian-ide-plugin.xml
*.iml
